
<footer>
    <a href="#" class="link-top">
        <div class="triangle"></div>
        <span class="tooltip">Meniu</span>
      </a>
     
    <address>
        <p>
            <i id="icons" class="fa-solid fa-phone "></i>
            <a href="tel:+407333388926">You can contact us Mobile phone</a>
        </p>
        <p>
            <i id="icons" class="fa-sharp fa-solid fa-location-dot fa-beat-fade"></i>
            <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Our location</a>
        </p>
        <p>
            <i id="icons" class="fa-regular fa-envelope"></i>
            <a href="mailto:kyracosmetics@gmail.com">Our Mail</a>
        </p>
        <p>
        <i id="icons" class="fa-brands fa-whatsapp fa-beat-fade"></i>>
        <a href="https://wa.me/+407333388926">Chat on Whatsapp</a>
        </p>
    </address>
   
    <small>&copy;Shein</small>
    <small>&copy;Beauty</small>
    <time datetime="2023-02-27 23:00">27/02/2023</time>
    
    <div class="banner-container">
        <p id="ban" class="ban">Acesta este un proiect scolar.<br><br>Acceptati cookies:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" id="ok_cookies">OK</button></p>
    </div>
</footer>
