<header>
    <div class="banner">
        Acesta este un proiect școlar!
      </div>
        <h1>KYRA COSMETICS </h1>
        <nav>
            <label id="hamburger" for="ch-menu">
                <img src="Resurse/img/clipart365828.png"  alt="menu">
            </label>
           <input id="ch-menu" type="checkbox">
          <ul class="meniu">
            <li>
                <div id="acasa"><i class="fa-solid fa-house"></i>Acasa</div>
                <div id="casuta"><i class="fa-solid fa-house"></i></div>
              <ul>
                <li><a href="#noutati">Noutăți</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#promo">Promoții</a></li>
                <li><a href="#bestsellers">Bestsellers</a></li>
              </ul>
            </li>
            <li><div>Produse</div>
                <ul>
                    <li><a href="#">Machiaj ten</a></li>
                    <li><a href="#">Machiaj ochi</a></li>
                    <li><a href="#">Machiaj sprancene</a></li>
                    <li><a href="#">Machiaj buze</a></li>
                    <li><a href="#">Palete machiaj</a></li>
                    <li><a href="#">Seturi machiaj</a></li>
                    <li><a href="#">Accesorii pentru machiaj</a></li>
                    <li><a href="#">Produse pentru îngrijirea pielii</a></li>
                </ul>
            </li>
            <li><div>Contact și servicii clienți</div>
                <ul>                        
                    <li><a href="#">Detalii locații</a></li>
                    <li><a href="#">Formular de Contact</a></li>
                    <li><a href="#">Întrebări frecvente</a></li>
                    <li><a href="#">Politică retur și garanție</a></li>
                </ul>
            </li>
            <li><div>Despre noi</div>
                <ul>
                    <li><a href="#">Istorie</a></li>
                    <li><a href="#">Echipa KYRA COSMETICS</a></li>
                    <li><a href="#">Evenimente</a></li>
                    <li><a href="#">Inspo</a></li>
                </ul>
            
            </li>
        </ul>
</nav>
</header>