html {
    font-size: 12px;
}

#grid-pagina {
    grid-gap: 5px;
    display: block;
    /*afisate pe rand pe o singura coloana in ordinea din html*/
}
body {
    padding: 1px;
  }

  .coloana-video{
    float: left;
    width: 70%;
    height: 80%;
   
}

/*butoane*/
.coloana-video1{
    float: left;
    width: 25%;
    padding: 5px;
}


.rand-video::after{
    content: "";
    clear: both;
    display: table;
}

/*taskuri iframe*/
.container {
    display: flex;
    flex-direction: column;
    transition: all 100ms linear;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: all 100ms linear;
  }
  
  .links a {
    display: block;
    width: 120px;
    height: 40px;
    margin-bottom: 2px;
    background-color: #eee1d8;
    color:  var(--highlight_color);
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-decoration: none;
    border: 5px solid var(--highlight_color);
  }
  
  .links a:hover {
    background-color: var(--highlight_color);
    color: black;
  }
  
  .tabs {
    flex: 0;
    z-index: 0;
    margin-bottom: -350px;
  }
  
  iframe {
    width: 50%;
    height: 50%;
    border: none;
    float:none;
    overflow: hidden;
    border-style:groove;
    border-color: var(--highlight_color);
    position:absolute;
    margin-bottom: -70px;
  }
  
  .tabs {
	max-width: 80%;
	padding-top: 80.25%;
	position: relative;
	width: 70%;
    overflow: hidden;
}

.tabs iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
    overflow: auto;
    margin-bottom: -100px;
}
.container1{
    float: left;
    width: 70%;
    height: 50%; 
  }

  .container1{
    float: left;
    width: 50%;
    height: 50%; 
  }
  .tabs1{
      max-width: 80%;
      padding-top: 75.25%;
      position: relative;
      width: 70%;
  }
  
  .tabs1 {
      max-width: 80%;
      padding-top: 80%;
      position: relative;
      width: 70%;
    overflow: hidden;
    margin-bottom: -120px;
  }
  
  .tabs1 iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
    overflow: auto;
   
  }
