.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-row-gap:15px;
    grid-column-gap:5px;
}

.grid-produse .jucarie{
    border-radius: 2em;
    box-shadow: 0px 0px 0.8rem grey;
    overflow: hidden;
}

.jucarie:nth-child(8n+1),.jucarie:nth-child(8n+5){
    background-color: purple;
} 
.jucarie:nth-child(8n+2),.jucarie:nth-child(8n+4),.jucarie:nth-child(8n+7){
    background-color: yellow;
} 
.jucarie:nth-child(8n+3),.jucarie:nth-child(8n+6),.jucarie:nth-child(8n){
    background-color: skyblue;
} 

.grid-produse .produs h3{
    background-color: var(--culoare-roz-inchis);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.jucarie ul{
    list-style-type: circle;
}

h2:hover~.abc{
    animation-name: culori;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes culori {
    33.3333%{
        background-color: red;
    }
    66.66666%{
        background-color: blue;
    }
    100%{
        background-color: pink;
    }
}


@media screen and (max-width:1200px) {
    .grid-produse{
        grid-template-columns: 1fr 1fr;  /*repeat(4,1fr)*/
    }
    .jucarie:nth-child(n){
        background-color: white;
    } 



}