
body{
    --text_color:black;
    --grid_background: rgb(0, 0, 0);
    --main_color:#F7DAC8;
    --highlight_color:#D6B7AE;
    --nude1:#ECCCCA;
    --nude2:#eee1d8;
    --pink1:#cb5d82;
    background-color: rgb(0, 0, 0);
    padding: 2px;
    overflow-x: hidden;
    background-image: url(/resurse/img/peach.jpg);
    background-attachment: fixed;
    background-size: cover;
    transition: background-image 10s;
    animation-name: change-bg;
    animation-duration: 50s; /* timpul de schimbare a imaginii */
    animation-iteration-count: infinite;

}

header{
    background-color: black;
}


@keyframes change-bg {
  0% {
    background-image: url(/resurse/img/peach.jpg);
  }
  50% {
    background-image: url(/resurse/img/fundal.jpg);
  }
  100% {
    background-image: url(/resurse/img/peach.jpg);
  }
}

footer{
    background-color: black;
}



#grid-pagina{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "z-1 z-1 z-1 z-1"
                         "z-5 z-6 z-6 z-7"
                         "z-3 z-3 z-2 z-2"
                         "z-4 z-4 z-2 z-2"
                         "z-8 z-8 z-8 z-8"

    
}
#grid-pagina>*{
    border:10px solid var(--highlight_color);
}
#zona1{
    grid-area: z-1;
}
#zona2{
    grid-area: z-2;
    background-color: var(--nude2);
}
#zona3{
    grid-area: z-3;
    background-color: var(--nude2);
}
#zona4{
    grid-area: z-4;
    background-color: var(--nude2);
}
#zona5{
    grid-area: z-5;
    background-color: var(--nude2);
}
#zona6{
    grid-area: z-6;
    background-color: var(--nude2);
}
#zona7{
    grid-area: z-7;
    background-color: var(--nude2);
}
#zona8{
    grid-area: z-8;
}
  

  
