img{
    display: none;
}

iframe{
    display: none;
}

figcaption{
    display: none;
}

details{
    display: none;
}

#grid-pagina {
    grid-gap: 5px;
    display: block;
    /*afisate pe rand pe o singura coloana in ordinea din html*/
}

a{
    text-decoration: none;
    color:black;
}

h1{
    text-decoration-line: underline;
    font-size: 2.5em;
    page-break-after: always;
    margin-top: 50%;
    text-align: center;
    page-break-after: always;
}

nav{
    display: none;
}

footer{
    page-break-before: always;
}

.banner {
    border: 1px dotted black;
    width: 80%;
    top:0;
    text-align: center;
    padding: 10px;
  }
  

@page :left {
    margin-right: 2.5cm;
    margin-left: 0.5cm;
    width: 100%;

}


@page :right{
    margin-right: 0.5cm;
    margin-left: 2.5cm;
    height: 100%;
}

.links{
    display: none;
}

#watermark::after{
    position: fixed; bottom: 0; right: 0;
    opacity: 0.65;
    width: 100px;
    height: 2cm;
    border-style: double;
    content: "Cimpeanu Ana Maria";
}

.link-top{
    display: none;
}