#hamburger, #ch-menu {
  display: none;
}

body {
  --inaltime-meniu:40px;
  --latime-buton:100%;
}

#hamburger {
  display: block;
  margin: 0;
  width: 30px;
  height: 25px;
}

#hamburger > img {
  width: 30px;
  height: 25px;
  display: block;
  margin: 0;
}

ul.meniu {
  display: none;
}

#ch-menu:checked + ul.meniu {
  display: block;
  animation-name: animatie_meniu;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transform-origin: center top;
}

@keyframes animatie_meniu {
  0% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: 1px;
  }
}